{
  "REMOTE_TEST_PRIVATE_KEY1": "",
  "REMOTE_TEST_PRIVATE_KEY2": "",
  "INFURA_NODE_ENDPOINT_ETH": "",
  "INFURA_NODE_ENDPOINT_SEPOLIA": "",
  "AlCHEMY_NODE_ENDPOINT_SEPOLIA": "",
  "INFURA_NODE_ENDPOINT_POLYGON": "",
  "INFURA_NODE_ENDPOINT_HOLESKY": "",
  "OASIS_SAPPHIRE_NODE_ENDPOINT": "",
  "PUBLIC_NODE_POLYGON_MUMBAI": "",
  "ADDRESS1": "",
  "ADDRESS2": ""
}